.service-page {
  h2 {
    margin: 0;
    padding: 2rem;
    font-size: 1.5rem;
    font-weight: 700;

    span {
      border-bottom: 0.2rem solid red;
      font-weight: 100;
      padding-bottom: 0.5rem;
    }
  }
}
.services-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3rem;
}
